/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh; /* Настройка высоты страницы */
    display: flex;
    flex-direction: column; /* Установка направления столбца для flex-контейнера */
}

header {
    background-color: #2c3e50; /* Синий цвет */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Светло-серый фон */
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #3498db; /* Синий цвет кнопки */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9; /* Темно-синий при наведении */
}

.forgot-password {
    color: #3498db; /* Синий цвет для ссылки на забытый пароль */
    text-decoration: none;
}

footer {
    background-color: #2c3e50; /* Синий цвет */
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Распределение футера внизу страницы */
}


/* Дополнение к предыдущему CSS  register.html */

.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Светло-серый фон */
}

input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
